* {
  box-sizing: border-box;
}
@font-face {
  font-family: "GothaPro";
  src: url("../fonts/GothaPro.otf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "GothaPro";
  src: url("../fonts/GothaProBol.otf") format("truetype");
  font-style: bold;
  font-weight: bold;
}
body{
  overflow-x: hidden;
}
.container {
  max-width: 1510px !important;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}

.header {
  width: 100%;
  position: fixed;
  z-index: 2;
  background: #000000;
  height: 100px;
}
.header__logo {
  max-width: 105px;
  width: 100%;
}
.header__logo-img {
  width: 100%;
}
.header__menu {
  display: flex;
  align-items: center;
  width: calc(100% - 105px);
  padding-left: 89px;
  justify-content: space-between;
}
.header__list-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 484px;
  width: 100%;
}
.header__menu div {
  align-items: center;
  width: calc(100% - 484px);
  display: flex;
  justify-content: space-between;
  padding-left: 118px;
}
.header__list-tel {
  max-width: 203px;
  width: 100%;
}
.header__list-social {
  align-items: center;
  max-width: 151px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.header__list-eng {
  align-items: center;
  max-width: 102px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding-right: 10px;
}
.header__link {
  font-weight: normal;
  font-size: 16px;
  line-height: 15px;
  color: #ffffff;
  transition: 0.3s;
  position: relative;
  opacity: 0.7;
}
.header__link:hover {
  color: #fff !important;
  opacity: 1;
}
.header__link::after {
  position: absolute;
  content: "";
  width: 0%;
  height: 1px;
  background: #fff;
  left: 0;
  top: 120%;
  transition: 0.3s;
}
.header__link:hover::after {
  width: 100%;
}
.header__link-eng {
  font-weight: normal;
  font-size: 16px;
  line-height: 15px;
  color: #ffffff;
  transition: 0.3s;
  position: relative;
  opacity: 0.7;
}
.header__link-tel {
  align-items: center;
  display: flex;
  font-weight: normal;
  font-size: 16px;
  line-height: 15px;
  color: #ffffff;
  padding: 1px 11px;
}
.header__link-tel svg {
  margin-left: 10px;
}
.header__link-tel:hover {
  color: #fff !important;
  opacity: 0.7;
}
.header__link-eng::after {
  position: absolute;
  content: "";
  width: 0%;
  height: 1px;
  background: #fff;
  left: 0;
  top: 120%;
  transition: 0.3s;
}
.header__link-eng:hover::after {
  width: 100%;
}
.header__link-eng:hover {
  color: #fff !important;
  opacity: 1;
}
.eng-active{
  position: relative;
}
.link-active{
  opacity: 1 !important;
}
.link-active::after{
  position: absolute;
  content: "";
  width: 100% !important;
  height: 1px;
  background: #fff;
  left: 0;
  top: 120%;
  transition: 0.3s;
}
.header__item-eng:hover .eng-active{
  width: 100% !important;
}
.header__item-social a svg path {
  transition: 0.3s;
}
.header__item-social a svg:hover path {
  fill: gray;
}
.header__title {
  z-index: 1;
  position: absolute;
  left: 200px;
  bottom: 230px;
  font-weight: bold;
  font-size: 64px;
  line-height: 78px;
  color: #ffffff;
}
.header__menu-burger {
  padding-top: 30px;
  align-items: center;
  display: flex;
  justify-content: center;
}
.header__menu-images {
  display: none;
  width: 24px;
  height: 24px;
  fill: #fff;
  cursor: pointer;
}

.footer {
  background: #000000;
  color: #fff;
}
.footer__item {
  text-align: left;
  max-width: 247px;
  width: 100%;
  margin-right: 30px;
}
.footer__item-geigrafi{
  max-width: 368px;
  width: 100%;
  overflow-y: scroll;
  height: 397px;
  padding-right: 30px;
}
.footer__item-geigrafi::-webkit-scrollbar {
  width: 7px;
  height: 2px;
  border-radius: 3.5px;
  background: rgba(223, 223, 223, 0.2);
}

/* ползунок скроллбара */
.footer__item-geigrafi::-webkit-scrollbar-thumb {
  background: rgba(223, 223, 223, 0.2);
  border-radius: 3.5px;
}
.footer__inner{
  padding-top: 100px;
}
.pol__item {
  display: none;
}
.belarus__item {
  display: none;
}
.germania__item {
  display: none;
}
.block {
  display: block;
}
.none {
  display: none;
}
.footer__giografi {
  cursor: pointer;
}
.footer__item-right {
  text-align: right;
}
.footer__copyright {
  padding-top: 50px;
}
.footer__copyright-text {
  font-weight: 300;
  font-size: 14px;
  line-height: 13px;
  color: #ffffff;
  opacity: 0.7;
  transition: 0.3s;
}
.footer__copyright-text:hover {
  opacity: 1;
  color: #ffffff;
}
.footer__policy {
  padding-top: 17px;
}
.footer__policy-text {
  font-size: 14px;
  line-height: 0px;
  color: #ffffff;
  opacity: 0.7;
  transition: 0.3s;
}
.copyright{
  margin-top: 63px;
  border-top: 1px solid #C4C4C4;
  opacity: 0.25;
  display: flex;
}
.copyright p{
  padding-top: 42px;
  padding-right: 66px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 145%;
  color: #FFFFFF;
  opacity: 0.5;
}
.footer__policy-text:hover {
  opacity: 1;
  color: #ffffff;
}
.footer__menu-item {
  padding-bottom: 21px;
}
.footer__menu-item:last-child {
  padding-bottom: 0px;
}
.footer__link {
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  transition: 0.3s;
}
.footer__link:hover {
  color: gray;
}
.footer__giografi-item {
  width: 100%;
  max-width: 308px;
  height: 68px;
  color: #fff;
  transition: 0.3s;
  padding: 27px 25px;
}
.dropdown__item{
  border: 1px solid #4F4F4F;
}
.footer__inner-georgafi{
  display: flex;
}
.footer__giografi-item:hover .footer__giografi-link {
  color: white;
}
.footer__giografi-link {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 15px;
  line-height: 14px;
  color: #ffffff;
  transition: 0.3s;
}
.footer__giografi-link svg path {
  opacity: 0;
}
.footer__giografi-item:first-child .footer__giografi-link svg path {
  opacity: 1;
}
.footer__info-item {
  padding-bottom: 35px;
}
.footer__email {
  padding-bottom: 15px;
}
.footer__email-title {
  position: relative;
  font-weight: bold;
  font-size: 16px;
  line-height: 15px;
  color: #ffffff;
  display: flex;
  justify-content: space-between;
}
.footer__email-title span{
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 17px;
  text-align: right;
  color: #FFFFFF;
  opacity: 0.5;
}
.footer__email-text {
  font-size: 16px;
  line-height: 140%;
  color: #ffffff;
  opacity: 0.7;
  transition: 0.3s;
}
.footer__item.countryitem{
  position: relative;
  padding-bottom: 0;
  margin-bottom: 30px;
  max-width: 367px;
  width: 100%;
}
.footer__item.countryitem::after{
  content: '';
  position: absolute;
  width: 100%;
  height: 1px;
  background: #FFFFFF;
  opacity: 0.1;
  bottom: 0;
}
.footer__email-text:hover {
  color: #ffffff;
  opacity: 1;
}
.footer__button {
  background: #fff;
  border: 1px solid #abe1fa;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 250px;
  width: 100%;
  height: 61px;
  transition: 0.3s;
}
.footer__item-dropdown__content{
  display: none;
  margin-top: 5px;
  border: 1px solid #4F4F4F;
}
.click_none{
  cursor: auto;
}
.open__dropdawn{
  display: block;
}
.footer__button:hover {
  background: none;
}
.footer__button:hover .footer__btn {
  color: #abe1fa;
}
.footer__btn {
  text-align: center;
  font-weight: bold;
  font-size: 16px;
  line-height: 15px;
  color: #232323;
  transition: 0.3s;
}
.footer__social {
  padding-top: 42px;
  display: flex;
  justify-content: flex-end;
}
.footer__social-item {
  padding-left: 13px;
  transition: 0.3s;
  opacity: .6;
}
.footer__social-item a svg path {
  transition: 0.3s;
}
.footer__social-item a:hover svg path {
  fill: gray;
}
.footer__butoon-up a svg path {
  transition: 0.3s;
}
.footer__butoon-up {
  padding-top: 165px;
}
.footer__butoon-up a:hover svg path {
  fill: gray;
}

/* main */
.bgraund{
  position: relative;
}
.bgraund::after{
  content: '';
  position: absolute;
  background: #000000;
  max-width: 688px;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: -1;
}
.bgraund::before{
  content: '';
  position: absolute;
  background: url(../images/bg.jpg) no-repeat right;
  width: 100%;
  height: 100%;
  right: 0;
  top: 0;
  z-index: -1;
}
.option{
  font-size: 16px;
  padding: 10px 0 !important;
}
.option:hover{
  background: #F2F2F2 !important;
}
.bgraund__inner-left{
  padding-top: 150px;
  position: relative;
}
.bgraund__logo{
  padding-bottom: 98px;
}
.bgraund__header{
  padding-bottom: 37px;
}
.bgraund__header h1{
  font-style: normal;
  font-weight: bold;
  font-size: 72px;
  line-height: 120%;
  color: #FFFFFF;
  text-shadow: 0px 11px 19px rgba(0, 0, 0, 0.25);
}
.bgraund__subheader{
  padding-bottom: 52px;
}
.bgraund__subheader p{
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 17px;
  color: #FFFFFF;
  opacity: 0.7;
}
.bgraund__button-link {
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 15px;
  text-align: center;
  color: #000000;
  background: #fff;
  border: 1px solid #fff;
  max-width: 232px;
  width: 100%;
  height: 51px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all .3s;
}
.bgraund__button-link:hover{
  color: #fff;
  background: transparent;
}
.bgraund__inner-right{
  padding-top: 308px;
}
.bgraund__inner{
  position: relative;
  height: 100%;
  padding-top: 100px;
}
.bgraund__inner::after{
  content: 'scroll me';
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  position: absolute;
  font-weight: normal;
  font-size: 16px;
  cursor: pointer;
  line-height: 140%;
  color: #FFFFFF;
  left: 0;
  right: 0;
  margin: 0 auto;
  background: url(../images/main/mouse.svg) no-repeat center;
  width: 76px;
  height: 106px;
  bottom: 50px;
}
.swiper{
  max-width: 605px;
  width: 100%;
  height: 600px;
  margin-right: 0 !important;
}
.swiper-slide{
  display: flex;
  justify-content: center;
  align-items: center;
}
.swiper__inner{
  max-width: 505px;
  width: 100%;
  padding: 25px 35px;
  background: rgba(255, 255, 255, .9);
}
.swiper__info-btn{
  position: relative;
  padding-top: 30px;
  cursor: pointer;
}
.swiper__info-btn::after{
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 26px;
  height: 1px;
  background: #000;
}
.swiper__item{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.swiper__logo{
  position: relative;
  padding-bottom: 8px;
}
.swiper__logo::after{
  content: '';
  position: absolute;
  background: #000;
  max-width: 153px;
  width: 100%;
  height: 1px;
  left: 0;
  top: 100%;
}
.swiper__link{
  display: flex;
  align-items: center;
}
.swiper__link::after{
  margin-left: 10px;
  content: '';
  background: url(../images/main/Arrow-right.svg) no-repeat center;
  width: 22px;
  height: 10px;
}
.swiper__link a{
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 145%;
  color: #000000;
}
.swiper__info{
  padding-top: 20px;
}
.swiper__info-title{
  padding-bottom: 10px;
}
.swiper__info-title p{
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 140%;
  color: #000000;
}
.swiper__info-text{
  overflow-y: hidden;
  height: 52px;
}
.swiper__info-text p{
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 145%;
  color: #000000;
  background: linear-gradient(to top, transparent 0%, black 60%, black 100%);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}
.open__info{
  height: 100% !important;
}
.swiper-button-next, .swiper-button-prev{
  color: #fff !important;
  width: 50px !important;
  height: 50px !important;
  background: #000000;
  opacity: 0.7;
}
.swiper-button-prev, .swiper-rtl .swiper-button-next{
  left: 0 !important;
}
.swiper-button-next, .swiper-rtl .swiper-button-prev{
  right: 0 !important;
}
.swiper-button-next:after, .swiper-button-prev:after{
  font-size: 24px !important;
}
.swiper-pagination{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  height: 152px;
  width: 10px !important;
  top: 0;
  right: 0;
  margin-left: auto;
}

.swiper-pagination-bullet{
  width: 3px !important;
  background: #fff !important;
  opacity: 1 !important;
  border-radius: 0 !important;
  height: 40px !important;
}
.swiper-pagination-bullet-active{
  background: #fff !important;
  width: 8px !important;
  height: 40px !important;
  border-radius: 0 !important;
}

.main__header{
  margin-top: 120px;
}
.main__header h2{
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 145%;
  text-transform: uppercase;
  color: #000000;
  text-align: center;
}
.products__fillter{
  padding-top: 72px;
  width: 100%;
  display: flex;
}
.products__fillter-item{
  max-width: 355px;
  width: 100%;
  margin-right: 20px;
  position: relative;
}
.products__fillter-title{
  max-width: 355px;
  width: 100%;
  height: 56px;
  display: flex;
  align-items: center;
  justify-content: left;
  border: 1px solid #4F4F4F;
  position: relative;
  padding: 16px 24px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 150%;
  color: rgba(0, 0, 0, 0.7);
}
.products__fillter-title::after{
  content: '';
  position: absolute;
  background: url(../images/main/arrow_bown.svg) no-repeat center;
  right: 23px;
  top: 23px;
  width: 22px;
  height: 12px;
}
.open__fillter-down::after{
  background: url(../images/main/arrow__up.svg) no-repeat center;
}
.products__fillter-text{
  padding: 10px 0;
  position: absolute;
  border: 1px solid #4F4F4F;
  margin-top: 2px;
  max-width: 355px;
  width: 100%;
  background: #fff;
  display: none;
  z-index: 11;
}
.open__fillter{
  display: block;
}
.products__fillter-checkbox{
  width: 100%;
  display: flex;
  padding: 8px 18px 8px 24px;
  align-items: center;
  cursor: pointer;
}
.products__fillter-checkbox:last-child{
  padding-bottom: 0;
}
.fillter__checkbox{
  margin-right: 11px;
  width: 18px;
  height: 18px;
  border: 1.4px solid #D1D5DB;
}
.products__fillter-checkbox:hover {
  background: #f6f6f6;
}
.fillter__lable p{
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 150%;
  color: #4F4F4F;
}
.products__inner{
  margin-top: 50px;
}
.products__item{
  border: 1px solid #E0E0E0;
  text-align: center;
  margin-right: 20px;
  margin-bottom: 20px;
  max-width: 355px;
  width: 100%;
  cursor: pointer;
}
.products__item img{
  max-width: 100%;
  width: 100%;
  height: 180px;
}
.products__item button{
  background: transparent;
  border: transparent;
  padding: 15px;
  width: 100%;
  height: 62px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: .3s;
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 145%;
  text-align: center;
  color: #000;
}
.products__item:hover button{
  background: #000;
  color: #fff;
}
.products__button{
  background: transparent;
  border: transparent;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 0 auto;
  margin-top: 72px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 140%;
  color: #000000;
}
.products__none{
  display: none;
}
.products__button::after{
  content: '';
  background: url(../images/main/arrow-botton.svg) no-repeat center;
  width: 10px;
  height: 25px;
}
.contact{
  margin-bottom: 100px;
}
.contact__inner{
  padding-top: 100px;
}
.contact__item select{
  background: transparent;
  padding: 16px 14px;
  border: 1px solid #4F4F4F;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 150%;
  color: rgba(0, 0, 0, 0.7);
  max-width: 420px;
  width: 100%;
  height: 56px;
  margin-bottom: 60px;
}
.contact__info{
  max-width: 420px;
  width: 100%;
  height: 589px;
  padding: 53px;
  padding-right: 36px;
  overflow-y: scroll;
  overflow-x: hidden;
  background: #F8F8F8;
  border-radius: 0px 4px 4px 0px;
  position: relative;
}
.contact__info::after{
  content: '';
  position: absolute;
  bottom: 0;
  width: 100%;
  background: linear-gradient(360deg, #FFFFFF 8%, rgba(255, 255, 255, 0) 100%);
}
.contact__info::-webkit-scrollbar {
  width: 7px;
  height: 8px;
  background: #F3F3F3;
  border-radius: 3.5px;
}
.contact__info::-webkit-scrollbar-thumb {
  background: #DFDFDF;
  border-radius: 3.5px;
}
.contact__info-item{
  padding: 30px 0;
  cursor: pointer;
}
.contact__info-item::after{
  content: '';
  position: absolute;
  max-width: 320px;
  width: 100%;
  height: 1px;
  left: 0;
  right: 0;
  margin: 0 auto;
  background: #000000;
  opacity: 0.1;
}
.contact__info-title{
  padding-bottom: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.contact__info-title span{
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 17px;
  text-align: right;
  color: #000000;
  opacity: 0.15;
}
.contact__info-title p{
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 17px;
  color: #000000;
}
.contact__info-subtext{
  padding-bottom: 35px;
}
.contact__info-subtext p{
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 150%;
  color: #000000;
  opacity: 0.7;
}
.contact__info-subtext a{
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 150%;
  color: #000000;
  opacity: 0.7;
}
.mapwrap{
  max-width: 1000px;
  width: 100%;
  height: 711px;
}
#map{
  width: 100%;
  height: 100%;
}
.contact__fillter-item{
  margin-bottom: 60px;
}
.contact__item{
  overflow: inherit;
  position: relative;
}
.select2{
  width: 420px !important;
}






@media (max-width: 1600px) {
  .bgraund__header h1{
    font-size: 52px;
  }
  .bgraund::after{
    max-width: 588px;
  }
  .header__link {
    font-size: 16px;
    line-height: 15px;
  }
  .header__link-eng {
    font-size: 16px;
    line-height: 15px;
  }
  .header__link-tel {
    font-size: 16px;
    line-height: 15px;
  }
}
@media (max-width: 1300px) {
  .select2{
    width: 100% !important;
  }
  .bgraund__inner-right{
    padding-top: 208px;
  }
  .bgraund__header h1{
    font-size: 42px;
  }
  .bgraund::after{
    max-width: 488px;
  }
  .header__link {
    font-size: 15px;
    line-height: 14px;
  }
  .header__link-eng {
    font-size: 15px;
    line-height: 14px;
  }
  .header__link-tel {
    font-size: 15px;
    line-height: 14px;
  }
  .header__title {
    left: 90px;
    font-size: 64px;
    line-height: 78px;
  }
  .header__menu div {
    padding-left: 20px;
  }
  .header__menu {
    padding-left: 40px;
  }
  .header__title {
    bottom: 180px;
  }
}
@media (max-width: 1200px) {
  .main__header h2{
    font-size: 30px;
  }
  .bgraund__inner-right{
    padding-top: 108px;
  }
  .contact__info{
    padding: 10px;
  }
  .footer__social{
    justify-content: start;
  }
  .bgraund__inner-left{
    padding-top: 100px;
  }
  .bgraund__header h1{
    font-size: 32px;
  }
  .bgraund::after{
    max-width: 388px;
  }
  .mapwrap{
    max-width: 100%;
  }
  .header__link {
    font-size: 14px;
    line-height: 14px;
  }
  .header__link-eng {
    font-size: 14px;
    line-height: 14px;
  }
  .header__link-tel {
    font-size: 14px;
    line-height: 14px;
  }
  .header__title {
    left: 70px;
    bottom: 180px;
    font-size: 64px;
    line-height: 78px;
  }
  .header__menu div {
    padding-left: 20px;
    align-items: center;
    width: calc(100% - 384px);
    display: flex;
  }
  .header__list-menu {
    max-width: 384px;
    width: 100%;
  }
  .header__list-tel {
    max-width: 185px;
    width: 100%;
  }
  .header__list-social {
    align-items: center;
    max-width: 130px;
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  .header__list-eng {
    align-items: center;
    max-width: 83px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-right: 10px;
  }
  .products__item{
    max-width: 305px;
  }
}
@media (max-width: 1060px) {
  .bgraund::after{
    max-width: 288px;
  }
  .contact__info{
    padding: 43px;
  }
  .header__title {
    left: 70px;
    bottom: 175px;
    font-size: 34px;
    line-height: 78px;
  }
  .footer__item {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  ol,
  ul {
    padding-left: 0 !important;
  }
  .footer__item-right {
    text-align: left;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .footer__social {
    justify-content: start;
  }
}
@media (max-width: 991px) {
  .footer__inner-georgafi {
    flex-direction: column;
    margin: 0 100px;
  }
  .footer__item-geigrafi{
    max-width: 100%;
  }
  .footer__email-info{
    text-align: left;
  }
  .footer__item.countryitem{
    max-width: 100%;
  }
  .footer__item{
    text-align: center;
    max-width: 100%;
  }
  .footer__button{
    margin: 0 auto;
  }
  .footer__social{
    justify-content: center;
  }
  .footer__item-right{
    text-align: center;
    margin: 0 auto;
  }
  .contact__inner{
    margin: 0 100px;
  }
  .main__header h2{
    font-size: 26px;
  }
  .contact__info-item::after{
    max-width: 100%;
  }
  .contact__info{
    max-width: 100%;
    margin-bottom: 20px;
    height: 400px;
  }
  .bgraund::after{
    display: none;
  }
  .bgraund__inner{
    padding-top: 0px;
  }
  .bgraund__inner-left{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background: rgba(0, 0, 0, .6);
    max-width: 500px;
    width: 100%;
    margin: 0 auto;
    margin-top: 140px;
    padding: 20px;
  }
  .bgraund__logo{
    max-width: 100px;
    width: 100%;
    margin: 0 auto;
  }
  .bgraund__header h1{
    font-size: 28px;
  }
  .bgraund__subheader p{
    font-size: 16px;
  }
  .bgraund__subheader{
    padding-bottom: 30px;
  }
  .bgraund__header{
    padding-bottom: 27px;
  }
  .bgraund__logo img{
    width: 100%;
  }
  .bgraund__button-link{
    font-size: 14px;
    max-width: 200px;
    height: 40px;
  }
  .bgraund__inner-right {
    padding-top: 28px;
  }
  .bgraund__logo{
    padding-bottom: 50px;
  }
  .bgraund__button-link{
    margin: 0 auto;
  }
  .swiper{
    margin-right: auto !important;
    height: 300px;
  }
  .bgraund__inner::after{
    display: none;
  }
  .swiper-pagination{
    display: none;
  }
  .contact__info{
    padding: 33px;
  }
  .products__item {
    max-width: 255px;
    margin: 10px auto;
  } 
  .products__fillter{
    flex-direction: column;
  }
  .products__fillter-item{
    max-width: 100%;
    margin-bottom: 10px;
  }
  .products__fillter-text{
    max-width: 100%;
  }
  .products__fillter-title{
    font-size: 14px;
    max-width: 100%;
  }
  .contact{
    margin-bottom: 50px;
  }
  .header__menu div {
    width: 100%;
  }
  .header__menu {
    justify-content: start;
    padding-left: 0;
  }
  .header__list-menu {
    flex-direction: column;
  }
  .header__menu-social {
    flex-direction: column;
    width: 100%;
  }
  .header__menu div {
    padding-left: 0;
  }
  .header__list-social {
    max-width: 151px;
  }
  .header__list-eng {
    height: 90px;
    max-width: 103px;
  }
  .header__list-tel {
    max-width: 221px;
  }
  .header__menu-burger {
    justify-content: space-between;
  }
  .header__link {
    font-size: 18px;
    line-height: 16px;
  }
  .header__link-eng {
    font-size: 18px;
    line-height: 16px;
  }
  .header__link-tel {
    font-size: 18px;
    line-height: 16px;
  }
  .header__menu-images {
    position: relative;
    width: 35px;
    height: 35px;
    display: block;
  }
  .header__menu {
    display: none;
    position: absolute;
    top: 55px;
    left: 0;
    background: #030303;
    box-shadow: #ccc;
    width: 100%;
    z-index: 2;
    height: 100vh;
    overflow: auto;
  }
  .header__list:first-child {
    padding-left: 0;
    display: block;
    position: relative;
  }
  .header__list {
    padding-left: 0;
    display: flex;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 0px !important;
  }
  .header__list:last-child {
    margin-bottom: 50px !important;
  }
  .header__item {
    margin: 30px 0;
    padding-right: 0;
  }
  .header__item:first-child {
    padding-left: 0;
  }
  .menu__open {
    display: flex;
    flex-direction: column;
  }
  .fixed {
    overflow: hidden;
  }
  .header__title {
    font-size: 40px;
    line-height: 78px;
    bottom: 350px;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
@media (max-width: 768px) {
  .contact__inner{
    margin: 0 50px;
  }
  .bgraund__header h1{
    font-size: 20px;
  }
  .swiper__logo{
    max-width: 109px;
    width: 100%;
  }
  .swiper__logo img{
    width: 100%;
  }
  .swiper__link a{
    font-size: 12px;
  }
  .swiper__info-title p{
    font-size: 12px;
  }
  .swiper__info-text p{
    font-size: 11px;
  }
  .bgraund__subheader p{
    font-size: 14px;
  }
  .bgraund__logo{
    padding-bottom: 20px;
  }
  .mapwrap{
    height: 400px;
  }
  .contact__info{
    max-width: 100%;
  }
  .contact__item select{
    margin-bottom: 20px;
    max-width: 100%;
  }
  .header__title {
    font-size: 38px;
  }
  .copyright{
    flex-direction: column;
  }
}
@media (max-width: 568px) {
  .footer__inner-georgafi {
    margin: 0 50px;
  }
  .contact__inner{
    margin: 0;
  }
  .products__item button{
    font-size: 20px;
  }
  .main__header h2{
    font-size: 20px;
  }
  .footer__item.countryitem{
    max-width: 100%;
  }
  .footer__item{
    margin-right: 0;
    max-width: 100%;
  }
  .footer__item-geigrafi{
    max-width: 100%;
  }
  .open__info {
    height: 52px !important;
    overflow-y: scroll;
  }
  .swiper__link a{
    display: none;
  }
  .swiper-button-next, .swiper-button-prev{
    width: 35px !important;
    height: 35px !important;
    right: 0px !important;
    top: 20px !important;
  }
  .swiper-button-prev{
    left: 0px !important;
  }
  .products__item img{
    height: 120px;
  }
  .bgraund__logo{
    max-width: 50px;
  }
  .swiper__inner{
    max-width: 330px;
    padding: 15px 20px;
  }
  .footer__social-item {
    padding-left: 0;
    padding-right: 32px;
  }
  .header__title {
    font-size: 32px;
  }
  .copyright p{
    font-size: 13px;
  }
}
@media (max-width: 420px) {
  .footer__inner-georgafi{
    margin: 0;
  }
  .products__item{
    height: 112px;
  }
  .products__item button{
    height: 32px;
  }
  .products__item img{
    height: 80px;
  }
  .mapwrap{
    height: 200px;
  }
  .contact__info{
    padding: 10px;
  }
  .header__title {
    font-size: 25px;
    line-height: 78px;
    bottom: 150px;
  }
}
@media (max-width: 360px) {
  .footer__inner-georgafi {
    flex-direction: column;
    margin: 0;
  }
  .products__item button{
    font-size: 18px;
  }
  .main__header h2{
    font-size: 18px;
  }
  .header__list {
    margin-top: 20px;
  }
}
@media (max-height: 560px){
  .header__menu {
    overflow: scroll;
  }
  .header__menu-social{
    margin-bottom: 50px;
  }
}

.js-select{
  overflow: hidden !important;
}
.select-wrap .select2-container {
  margin-bottom: 20px;
}
.select-wrap .select2-container--default .select2-selection--single{
  border: 1px solid #ccc;
  height: 50px;
  outline: none;
}
.select2-container--default .select2-selection--single{
  border-radius: 0px;
}

.select2-container .select2-selection--single{
  height: 62px;
  display: flex;
  align-items: center;
  justify-content: left;
}
.select2-selection__arrow{
  top: 40% !important;
  right: 10px !important;
  width: 0 !important;
  height: 0 !important;
  right: 40px !important;
}
.select2-container--default .select2-selection--single .select2-selection__arrow b{
  border-color: #fff;
  background: url("../images/main/arrow-botton.svg") no-repeat center;
  width: 22px;
  height: 12px;
  top: 0;
  border-width: 0;
  left: 0;
}
.select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b{
  border-color: #fff;
  background: url("../images/main/arrow__up.svg") no-repeat center;
  width: 22px;
  height: 12px;
  top: 0;
  border-width: 0;
  left: 0;
}
.select2-dropdown .select2-dropdown--below{
  margin-top: 20px !important;
  margin-bottom: 20px !important;
}
.select2-dropdown{
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 5px;
}
.select2-results__option{
  padding: 6px 22px;
}
.select2-container .select2-selection--single .select2-selection__rendered{
  padding-left: 22px;
}
.select2-container--default .select2-results__option--highlighted.select2-results__option--selectable{
  background: #F2F2F2;
  color: #000;
}
.select2-search--dropdown {
  display: none !important;
}
.select2-dropdown,
.select-wrap .select2-container--default.select2-container--open.select2-container--below .select2-selection--single, 
.select-wrap .select2-container--default.select2-container--open.select2-container--below .select2-selection--multiple {
  border: 1px solid #4F4F4F !important;
}

.footer .select2-container--default .select2-selection--single{
  background: transparent;
}
.footer .select2-container--default .select2-selection--single .select2-selection__rendered{
  color: #fff;
}
.footer .select2-dropdown .select2-dropdown--above{
  background: #000 !important;
}
.footer .select2-container--default .select2-selection--single .select2-selection__arrow b{
  border-color: #fff;
  background: url("../images/footer/up-arrow1.svg") no-repeat center;
  width: 22px;
  height: 12px;
  top: 0;
  border-width: 0;
  left: 0;
}
.footer .select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b{
  border-color: #fff;
  background: url("../images/footer/up-arrow1.svg") no-repeat center;
  width: 22px;
  height: 12px;
  top: 0;
  border-width: 0;
  left: 0;
  transform: rotate(180deg);
}
footer .select2{
  width: 100% !important;
}